.images {
    width: 100%;
    height: auto;
    max-height: 500px;
    display: none;
}

.images.active {
    display: block;
}

.image-container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999;
    opacity: .6;
    display: flex;
    justify-content: center;
}

.banner {
    align-self: center;
}

.banner h1 {
    font-family: "DINBlack";
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

@media screen and (max-width: 480px) {
    .banner h1 {
        font-size: 1.6875em;
        line-height: 2em;
    }
}

.additional-content {
    display: none;
}

#info-container, .mission-section{
    font-weight: 400;
}

ul{
    list-style-type: none;
}

li{
    padding-bottom: 8px;
}

.contact-image{
    width: 56px;
    height: 56px;
    margin-left: 24px;
}
@media screen and (min-width:700px){
    .nav-fixed{
        position: fixed;
        left:0;
        right:0;
        z-index: 1000;
    }
    
    main{
        padding-top:75px;
    }
}



/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.sidebar {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    z-index: 1001;
    position: fixed;
    top: 50%;
    left: 40%;
    display: none;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: underline;
  }
  
  @media screen and (max-width: 400px) {
    .sidebar{
      display: block;
    }
  }

  .mobile-menu{
    left: 92.3%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 50.6%;
    background: #fec105;
  }

  .circle-container{
    left: 91%;
    width: 32px;
    height: 32px;
    background: #fec105;
    border-radius: 50%;
  }
  .menu-list{
    top: 41%;
    height: 22%;
    width: 30%;
    left: 61%;
  }
  .hidden{
      display: none;
  }